<div class="box">
    <div *ngIf="realmatches.length == 0">No matches available.</div>
    <div *ngFor="let match of realmatches">
        <div class="match" id="{{match.matchId}}">
            <div class="tournament">
                <img src="https://bvbforumblob.blob.core.windows.net/tournaments-logo/{{match.tournamentLogo}}" alt=""/>
            </div>
            <div class="hometeam">
                <div class="name">{{match.homeTeamName}}</div>
                <div class="logo">
                    <img src="https://bvbforumblob.blob.core.windows.net/teams-logo/{{match.homeTeamLogo}}" alt=""/>
                </div>
            </div>
            <div class="scorebox">
                <div class="score">
                    {{match.homeTeamScore}}
                </div>
                <div class="score">
                    {{match.awayTeamScore}}
                </div>
            </div>
            <div class="awayteam">
                <div class="logo">
                    <img src="https://bvbforumblob.blob.core.windows.net/teams-logo/{{match.awayTeamLogo}}" alt=""/>
                </div>
                <div class="name">{{match.awayTeamName}}</div>
            </div>
            <div class="delete">
                <button (click)="showPopup()">
                    <fa-icon [icon]="trash"></fa-icon>
                </button>
                <app-popup title="Confirm Match Deletion">
                    <div>
                        Are you sure you want to delete this match? <br>
                        This action will remove: <br>
                        <ul>
                            <li>>> the match</li>
                            <li>>> all user posts reviewing this match</li>
                        </ul>
                        This cannot be undone. Please confirm if you wish to proceed.
                    </div>
                    <div class="popup-button-box">
                        <button class="cancel" (click)="hidePopup()">
                            Cancel
                        </button>
                        <button class="submit" (click)="delete(match.matchId)">
                            Yes, Delete
                        </button>
                    </div>
                </app-popup>
            </div>
        </div>
    </div>
</div>
<div class="error" *ngIf="error">
    <div>{{ error }}</div>
</div>

<div class="success" *ngIf="success">
    <div>Match deleted succesfully</div>
</div>