<form>
    <div class="formbox">
        <div class="inputfield">
            <div>Delete team</div>
            <select name="team" id="team" [(ngModel)]="deleteTeamRequest.teamId" [ngModelOptions]="{standalone: true}">
                <option value="-1" selected disabled>Select team</option>
                <option value="{{team.id}}" *ngFor="let team of teams">{{team.teamName}}</option>
            </select>
        </div>
        <div class="error" *ngIf="error">
            <div>{{ error }}</div>
        </div>

        <div class="success" *ngIf="success">
            <div>Team deleted succesfully</div>
        </div>
    </div>
    <div class="submitbox">
        <app-button-active title="Delete Team" (click)="onSubmit()"></app-button-active>
    </div>
</form>