<form>
    <div class="formbox">
        <div class="inputfield">
            <div>Delete season</div>
            <select name="season" id="season" [(ngModel)]="deleteSeasonRequest.seasonId" [ngModelOptions]="{standalone: true}">
                <option value="-1">Select season</option>
                <option value="{{season.id}}" *ngFor="let season of seasons">Season {{season.startYear}}-{{season.endYear}}</option>
            </select>
        </div>
        <div class="error" *ngIf="error">
            <div>{{ error }}</div>
        </div>

        <div class="success" *ngIf="success">
            <div>Season deleted succesfully</div>
        </div>
    </div>
    <div class="submitbox">
        <app-button-active title="Delete Season" (click)="onSubmit()"></app-button-active>
    </div>
</form>