<div class="container">
    <div class="inner">
        <div class="page-title">Cookie Policy</div>
        <div class="policy">
            <div class="content">
                To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.
            </div>
        </div>
        <div class="policy">
            <div class="title">What are cookies?</div>
            <div class="content">
                A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don't have to keep re-entering them whenever you come back to the site or browse from one page to another.
            </div>
        </div>
        <div class="policy">
            <div class="title">How do we use cookies?</div>
            <div class="content">
                On BVB Forum, we make use of cookies for the following purposes:
                <ul>
                    <li>* Remember login credentials</li>
                </ul>
                The cookie-related information is used to identify you personally and therefore secure but also not visible.
                You can delete or block these cookies, but if you do that some features of this site may not work as intended.
                These cookies are not used for any purpose other than those described here.
            </div>
        </div>
        <div class="policy">
            <div class="title">How to control cookies?</div>
            <div class="content">
                You can control and/or delete cookies as you wish, for details, see aboutcookies.org.
                You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed.
                If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.
            </div>
        </div>
    </div>
</div>