<div class="box">
    <div *ngIf="displayPosts.length == 0">No posts available.</div>
        <div *ngFor="let post of displayPosts">
            <div class="post" id="{{post.matchId}}">
                <div class="postbox">
                    <div class="author">
                        <div class="header">
                            <div><a routerLink="/user/{{post.userId}}">&#64;{{post.username}}</a> reviewed {{post.postDate | amTimeAgo}}</div>
                            <div>{{post.postDate | date: 'hh:mm a - dd MMM yyyy'}}</div>
                        </div>
                    </div>
                    <div class="content">
                        {{post.review}}
                    </div>
                    <div class="match">
                        <div class="left">
                            <div class="date">{{post.matchDate | date: 'MMM dd'}} - {{post.tournamentName}}</div>
                            <div>{{post.homeTeamName}} v {{post.awayTeamName}}</div>
                        </div>
                        <div class="right">
                            <div class="matchbox">
                                <div class="logo">
                                    <img src="https://bvbforumblob.blob.core.windows.net/teams-logo/{{post.homeTeamLogo}}"
                                        alt="" />
                                </div>
                                <div class="score">
                                    {{post.homeTeamScore}} - {{post.awayTeamScore}}
                                </div>
                                <div class="logo">
                                    <img src="https://bvbforumblob.blob.core.windows.net/teams-logo/{{post.awayTeamLogo}}"
                                        alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deletion">
                        <div *ngIf="isAuthenticated && !isAdmin && post.userId.toString() == userId">
                            <button (click)="showPopup(post.postId.toString());">
                                <fa-icon [icon]="trash"></fa-icon>
                            </button>
                            <app-popup id="{{post.postId}}" title="Confirm Post Deletion">
                                <div>
                                    Are you sure you want to delete this post? <br>
                                    This action will remove: <br>
                                    <ul>
                                        <li>>> the match</li>
                                        <li>>> all user posts reviewing this match</li>
                                    </ul>
                                    This cannot be undone. Please confirm if you wish to proceed.
                                </div>
                                <div class="popup-button-box">
                                    <button class="cancel" (click)="hidePopup(post.postId.toString())">
                                        Cancel
                                    </button>
                                    <button class="submit" (click)="delete(post.postId)">
                                        Yes, Delete
                                    </button>
                                </div>
                            </app-popup>
                        </div>
                        <div *ngIf="isAdmin">
                            <button (click)="showPopup(post.postId.toString());">
                                <fa-icon [icon]="trash"></fa-icon>
                            </button>
                            <app-popup id="{{post.postId}}" title="Confirm Post Deletion">
                                <div>
                                    Are you sure you want to delete this post? <br>
                                    This action will remove: <br>
                                    <ul>
                                        <li>>> the match</li>
                                        <li>>> all user posts reviewing this match</li>
                                    </ul>
                                    This cannot be undone. Please confirm if you wish to proceed.
                                </div>
                                <div class="popup-button-box">
                                    <button class="cancel" (click)="hidePopup(post.postId.toString())">
                                        Cancel
                                    </button>
                                    <button class="submit" (click)="delete(post.postId)">
                                        Yes, Delete
                                    </button>
                                </div>
                            </app-popup>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>