.post {
  padding: 25px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  background-color: #3E3E40;
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.4);
}

.postbox {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.author {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.content {
  font-size: 17px;
  text-align: justify;
  color: #CECECE;
  margin-bottom: 10px;
}

img {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 10px;
}

.match {
  background-color: #BFBFBF;
  border-radius: 5px;
  padding: 10px;
  color: #3E3E40;
  font-family: 'semibold';
  display: flex;
  flex-direction: row;

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .matchbox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      .logo {
        display: flex;
        align-items: center;
      }
  
      .score {
        font-family: 'bold';
        font-size: 30px;
      }
    }
  }
}

.deletion {
  display: flex;
  justify-content: right;
}

button {
  cursor: pointer;
  background-color: #272729;
  font-family: 'Barlow';
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #cecece;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.4);
  border: 0;
  font-size: 15px;

  &.cancel {
      background-color: #CECECE;
      font-family: 'semibold';
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      color: #202021;
      margin-top: 25px;
      cursor: pointer;
      font-weight: bolder;
      box-shadow: 2px 3px 0px 0px rgba(255, 255, 255, 0.5);
      border: 0;
      font-size: 20px;

      &:hover {
          background-color: rgba(255, 255, 255, 0.5);
      }
  }

  &.submit {
      background-color: #C3362B;
      font-family: 'semibold';
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      color: #CECECE;
      margin-top: 25px;
      cursor: pointer;
      font-weight: bolder;
      box-shadow: 2px 3px 0px 0px rgba(195, 54, 43, 0.4);
      border: 0;
      font-size: 20px;

      &:hover {
          background-color: rgba(195, 54, 43, 0.4);
      }
  }
}

.popup-button-box {
  display: flex;
  justify-content: space-between;
}