<div class="container">
    <div class="inner">
        <div class="page-title">Admin page</div>
        <div class="page-sub-title">Season management</div>
        <ui-tabs>
            <ui-tab-item
                [tabName]="addSeasonTitle"
                [templateRef]="addSeasonTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="deleteSeasonTitle"
                [templateRef]="deleteSeasonTemplate"
            ></ui-tab-item>
        </ui-tabs>
        <ng-template #addSeasonTemplate let-content="content">
            <app-add-season-form></app-add-season-form>
        </ng-template>

        <ng-template #deleteSeasonTemplate let-content="content">
            <app-delete-season-form></app-delete-season-form>
        </ng-template>

        <div class="page-sub-title">Tournament management</div>
        <ui-tabs>
            <ui-tab-item
                [tabName]="addTournamentTitle"
                [templateRef]="addTournamentTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="deleteTournamentTitle"
                [templateRef]="deleteTournamentTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="tournamentListTitle"
                [templateRef]="tournamentListTemplate"
            ></ui-tab-item>
        </ui-tabs>
        <ng-template #addTournamentTemplate let-content="content">
            <app-add-tournament-form></app-add-tournament-form>
        </ng-template>

        <ng-template #deleteTournamentTemplate let-content="content">
            <app-delete-tournament-form></app-delete-tournament-form>
        </ng-template>

        <ng-template #tournamentListTemplate let-content="content">
            <app-tournament-list></app-tournament-list>
        </ng-template>
    </div>
</div>