<div class="container">
    <div class="inner">
        <div class="page-title">Admin page</div>
        <div class="page-sub-title">Season management</div>
        <ui-tabs>
            <ui-tab-item
                [tabName]="addSeasonTitle"
                [templateRef]="addSeasonTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="deleteSeasonTitle"
                [templateRef]="deleteSeasonTemplate"
            ></ui-tab-item>
        </ui-tabs>
        <ng-template #addSeasonTemplate let-content="content">
            <app-add-season-form></app-add-season-form>
        </ng-template>

        <ng-template #deleteSeasonTemplate let-content="content">
            <app-delete-season-form></app-delete-season-form>
        </ng-template>

        <div class="page-sub-title">Tournament management</div>
        <ui-tabs>
            <ui-tab-item
                [tabName]="addTournamentTitle"
                [templateRef]="addTournamentTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="deleteTournamentTitle"
                [templateRef]="deleteTournamentTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="tournamentListTitle"
                [templateRef]="tournamentListTemplate"
            ></ui-tab-item>
        </ui-tabs>
        <ng-template #addTournamentTemplate let-content="content">
            <app-add-tournament-form></app-add-tournament-form>
        </ng-template>

        <ng-template #deleteTournamentTemplate let-content="content">
            <app-delete-tournament-form></app-delete-tournament-form>
        </ng-template>

        <ng-template #tournamentListTemplate let-content="content">
            <app-tournament-list></app-tournament-list>
        </ng-template>

        <div class="page-sub-title">Team management</div>
        <ui-tabs>
            <ui-tab-item
                [tabName]="addTeamTitle"
                [templateRef]="addTeamTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="deleteTeamTitle"
                [templateRef]="deleteTeamTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="teamListTitle"
                [templateRef]="teamListTemplate"
            ></ui-tab-item>
        </ui-tabs>
        <ng-template #addTeamTemplate let-content="content">
            <app-add-team-form></app-add-team-form>
        </ng-template>
        <ng-template #deleteTeamTemplate let-content="content">
            <app-delete-team-form></app-delete-team-form>
        </ng-template>
        <ng-template #teamListTemplate let-content="content">
            <app-team-list></app-team-list>
        </ng-template>

        <div class="page-sub-title">Match management</div>
        <ui-tabs>
            <ui-tab-item
                [tabName]="addMatchTitle"
                [templateRef]="addMatchTemplate"
            ></ui-tab-item>
            <ui-tab-item
                [tabName]="deleteMatchTitle"
                [templateRef]="deleteMatchTemplate"
            ></ui-tab-item>
        </ui-tabs>
        <ng-template #addMatchTemplate let-content="content">
            <app-add-match-form></app-add-match-form>
        </ng-template>
        <ng-template #deleteMatchTemplate let-content="content">
            <app-delete-match-form></app-delete-match-form>
        </ng-template>
    </div>
</div>