<div class="footer">
    <div class="container">
        <div class="inner">
            <div class="left">
                <div class="logo">
                    <img src="../../../assets/images/bvb.png"/>
                    BVB Forum
                </div>
                © Copyright 2024 BVB Forum
            </div>
            <div class="right">
                <a routerLink="/privacy">Privacy Policy</a>
                <a routerLink="/cookies">Cookie Policy</a>
            </div>
        </div>
    </div>
</div>