<div>
    <nav>
        <div class="logo"><img src="../../../assets/images/bvb.png"/></div>
        <div class="navbox">
            <div class="navelement">
                <li><a routerLink="/signup">Signup</a></li>
            </div>
            <div class="searchbox">
                <!-- <SearchBar/> -->
            </div>
        </div>
        <div class="auth">
            <!-- <li><NavLink onClickCapture={logout}>Logout <img src={out} className={styles.navicon}/></NavLink></li> -->
        </div>
    </nav>
</div>