<div>
    <nav>
        <div class="logo"><img src="../../../assets/images/bvb.png"/></div>
        <div class="navbox">
            <div class="navelement">
                    <li><a routerLink="/">Home</a></li>
                    <li *ngIf="!isAuthenticated"><a routerLink="/signup">Signup</a></li>
                    <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
                    <li *ngIf="isAuthenticated"><a routerLink="/results">Results</a></li>
                    <li *ngIf="isAuthenticated && isAdmin"><a routerLink="/admin">Admin</a></li>
                    <li *ngIf="isAuthenticated"><a routerLink="/user/{{userId}}">Profile</a></li>
                    <li *ngIf="isAuthenticated" (click)="logout()"><a routerLink="/login">logout</a></li>
            </div>
            <div class="searchbox">
                <!-- <SearchBar/> -->
            </div>
        </div>
    </nav>
</div>