<form>
    <div class="formbox">
        <div>Email</div>
        <input type="email" placeholder="email@example.com" [(ngModel)]="registerRequest.email"
            [ngModelOptions]="{standalone: true}" />
        <div>Username</div>
        <input type="text" placeholder="Username" [(ngModel)]="registerRequest.username"
            [ngModelOptions]="{standalone: true}" />
        <div>Password</div>
        <input type="password" placeholder="Password" [(ngModel)]="registerRequest.password"
            [ngModelOptions]="{standalone: true}" />

        <div class="error" *ngIf="error.length">
            <div *ngFor="let msg of error">{{ msg }}</div>
        </div>
    </div>
    <div class="submitbox">
        <app-button-active title="Sign up" (click)="onSubmit()"></app-button-active>
        <app-button-passive title="I already have an account" (click)="redirectToLogin()"></app-button-passive>
        <!-- <div>
            Already have an account? <a routerLink="/login">Login</a>
        </div> -->
    </div>
</form>