<form>
    <div class="formbox">
        <div class="inputfield">
            <div>Team Name</div>
            <input type="text" placeholder="Team name" [(ngModel)]="addTeamRequest.teamName"
            [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="inputfield">
            <div>Team Logo</div>
            <input #fileInput type="file" accept="image/png" (change)="onFileSelected($event)" required/>
        </div>

        <div class="error" *ngIf="error">
            <div>{{ error }}</div>
        </div>

        <div class="error" *ngIf="validationErrors">
            <div *ngFor="let msg of validationErrors">{{ msg }}</div>
        </div>

        <div class="success" *ngIf="success">
            <div>Team added succesfully</div>
        </div>
    </div>
    <div class="submitbox">
        <app-button-active title="Add Team" (click)="onSubmit()"></app-button-active>
    </div>
</form>