button {
    background-color: #272729;
    width: 150px;
    font-family: 'Barlow';
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #cecece;
    margin-top: 15px;
    cursor: pointer;
    -webkit-box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.4);
    border: 0;
    font-size: 15px;
}