.page-title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.inner {
    width: 100%;
    padding: 4rem 10px 4rem;
}

@media (min-width: 576px) {
    body {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 1140px;
    }
}